<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer id="footer" class="page-footer font-small teal pt-4" th:fragment="footer">
<div id="animation" class="hidden">
		<div class="loader-wrapper">
			<span class="loader"><span class="loader-inner"></span></span>
		</div>	</div>
  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold"><i class="fa fa-sticky-note"></i>Instructions</h5>
        <p>You have to input how much at %  you like cafes , restaurants and bars.
        Also you have to input how much at % you like museums and not the number of 
        museums and Cafes/Restaurants/Bars you wish the city include!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold"><i class="fa fa-tripadvisor"></i> Some Advices</h5>
        <p>Use Business role if you want to take the nearest destination.
        You can also avoid destinations with rainy weather!
        All the information about cities and weather are taken from OpenTripMap and OpenWeather
        .</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:TravellersGuide.com
  </div>
  <!-- Copyright -->

</footer>
</html>
