<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
	<title>404 </title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<link rel="icon" type="image/png" href="/img/flavicon.png" />
</head>
<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Oops! This Page Could Not Be Found</h2>
			<p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
			<a th:href="@{/admin/AdminEntry}">Go To Homepage</a>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
			<a th:href="@{/user/UserEntry}">Go To Homepage</a>
</div>
		</div>
	</div>
</body>

</html>
